<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stadium.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @stadium.nickname %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @stadium.foundation %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @stadium.capacity %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @stadium.picture %>
</p>

<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<%= link_to 'Back', stadia_path %>
