<div class="row">
  <center>
    <h1 class="<%= @team.colours1 %>"><%= @team.name %></h1>
    <%= link_to 'Editar', edit_team_path(@team) %> |
    <%= link_to 'Volver', teams_path %>
    <p  class="<%= @team.colours2 %>"><%= @team.members %> Socios desde <%= @team.foundation %></p>
  </center>
  

  <div class="col-md-8">
    <div class="table-responsive">          
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre/s</th>
            <th>Apellido/s</th>
            <th>Nacionalidad</th>
            <th>Edad</th>
            <th>debut</th>
            <th>Posiciones</th>
          </tr>
        </thead>
        <tbody>
          <% @players.each do |pot| %>
          <tr>
            <td><%=pot.shirt_number%></td>
            <td><%=pot.player.person.first_name%></td>
            <td><%=pot.player.person.last_name%></td>
            <td><center><%= image_tag "flags/"+pot.player.person.nationality.flag, class: "img-responsive table-flag" %></center></td>
            <td><%=%></td>
            <td><%=pot.player.debut_player%></td>
            <td><%=pot.player.position%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4">
      <center>
        <%= image_tag "shields/"+@team.shield, class: "img-responsive" %>
        <%= @team.initials %><br>
        <%= @team.stadium.nickname %>
      </center>
  </div>


  <p id="notice"><%= notice %></p>
    
  
  
</div>