<%= form_for(@stat_of_player_of_team_of_match) do |f| %>
  <% if @stat_of_player_of_team_of_match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stat_of_player_of_team_of_match.errors.count, "error") %> prohibited this stat_of_player_of_team_of_match from being saved:</h2>

      <ul>
      <% @stat_of_player_of_team_of_match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_of_team_of_match_id %><br>
    <%= f.number_field :player_of_team_of_match_id %>
  </div>
  <div class="field">
    <%= f.label :stat_id %><br>
    <%= f.number_field :stat_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
