<p id="notice"><%= notice %></p>

<p>
  <strong>Player of team of match:</strong>
  <%= @stat_of_player_of_team_of_match.player_of_team_of_match_id %>
</p>

<p>
  <strong>Stat:</strong>
  <%= @stat_of_player_of_team_of_match.stat_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @stat_of_player_of_team_of_match.value %>
</p>

<p>
  <strong>Time:</strong>
  <%= @stat_of_player_of_team_of_match.time %>
</p>

<%= link_to 'Edit', edit_stat_of_player_of_team_of_match_path(@stat_of_player_of_team_of_match) %> |
<%= link_to 'Back', stat_of_player_of_team_of_matches_path %>
