<p id="notice"><%= notice %></p>

<p>
  <strong>Player of team:</strong>
  <%= @player_of_team_match.player_of_team %>
</p>

<p>
  <strong>Match:</strong>
  <%= @player_of_team_match.match %>
</p>

<%= link_to 'Edit', edit_player_of_team_match_path(@player_of_team_match) %> |
<%= link_to 'Back', player_of_team_matches_path %>
