<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @player.person %>
</p>

<p>
  <strong>Dominant foot:</strong>
  <%= @player.dominant_foot %>
</p>

<p>
  <strong>Debut:</strong>
  <%= @player.debut %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
