<p id="notice"><%= notice %></p>

<p>
  <strong>Play date:</strong>
  <%= @match.play_date %>
</p>

<p>
  <strong>Team 1:</strong>
<<<<<<< HEAD
  <%= @match.team_1_id %>
=======
  <%=Team.where(id:@match.team_1_id).first().name %>
>>>>>>> 0b555df0926b2c83562722522c976766d3a0aca6
</p>

<p>
  <strong>Team 2:</strong>
<<<<<<< HEAD
  <%= @match.team_2_id %>
=======
  <%=Team.where(id:@match.team_2_id).first().name %>
>>>>>>> 0b555df0926b2c83562722522c976766d3a0aca6
</p>

<p>
  <strong>Season of competition:</strong>
  <%= @match.season_of_competition %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
<<<<<<< HEAD
=======

>>>>>>> 0b555df0926b2c83562722522c976766d3a0aca6
