<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nationality.name %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @nationality.flag %>
</p>

<%= link_to 'Edit', edit_nationality_path(@nationality) %> |
<%= link_to 'Back', nationalities_path %>
